{% extends "blog/base.html" %}
{% block content %}
<div id="fh5co-page">
		<header>
			<div class="container">
				<div class="fh5co-navbar-brand">
					<div class="row">
						<div class="col-xs-6">

							<h1 class="text-left"><a class="fh5co-logo" href="index.html"><span>Blog</span> Words <span>WordPress Theme</span></a></h1>
						</div>
						<div class="col-xs-6">
							<p class="fh5co-social-icon text-right">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
						</div>
					</div>
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				</div>
			</div>
		</header>
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(images/slide_3.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<span>Read Our Blog</span>
			   						<h2>Our Blog</h2>
			   						<p class="fh5co-lead">Designed with <i class="icon-heart3"></i> by the fine folks at <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></p>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-blog" class="fh5co-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							{% for post in posts %}
							<div class="col-md-12">
								<div class="fh5co-blog animate-box">
									<a href="#"><img class="img-responsive" src="images/img-4.jpg" alt=""></a>
									<div class="blog-text">
										<span class="posted_on">{{ post.date_posted }}</span>
										<span class="comment"><a href="">By: {{ post.author }}<i class="icon-bubble"></i></a></span>
										<h3><a href="#">{{ post.title }}</a></h3>
										<p>{{ post.content }}</p>
									</div>
								</div>
							</div>
								{% endfor %}
							<div class="col-md-12">
								<div class="fh5co-blog animate-box">
									<a href="#"><img class="img-responsive" src="images/img-2.jpg" alt=""></a>
									<div class="blog-text">
										<span class="posted_on">Nov. 15th</span>
										<span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
										<h3><a href="#">Download Bundle Templates 2017</a></h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div class="fh5co-blog animate-box">
									<a href="#"><img class="img-responsive" src="images/img-2.jpg" alt=""></a>
									<div class="blog-text">
										<span class="posted_on">Nov. 15th</span>
										<span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
										<h3><a href="#">Download Bundle Templates 2017</a></h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="fh5co-blog animate-box">
									<a href="#"><img class="img-responsive" src="images/img-5.jpg" alt=""></a>
									<div class="blog-text">
										<span class="posted_on">Nov. 15th</span>
										<span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
										<h3><a href="#">Inspirational Website</a></h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div class="fh5co-blog animate-box">
									<a href="#"><img class="img-responsive" src="images/img-3.jpg" alt=""></a>
									<div class="blog-text">
										<span class="posted_on">Nov. 15th</span>
										<span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
										<h3><a href="#">Inspirational Website</a></h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="fh5co-blog animate-box">
									<a href="#"><img class="img-responsive" src="images/img-6.jpg" alt=""></a>
									<div class="blog-text">
										<span class="posted_on">Nov. 15th</span>
										<span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
										<h3><a href="#">Get Free Template</a></h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-counters" style="background-image: url(images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
			<div class="fh5co-narrow-content animate-box">
				<div class="row" >
					<div class="col-md-4 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="7520" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Project</span>
					</div>
					<div class="col-md-4 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="5450" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Clients</span>
					</div>
					<div class="col-md-4 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="6876" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Satisfied Client</span>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}
